<div class="row">
    <div class="col-sm-6">
      <canvas class="chart" baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
  
        <p class="titles">Répartition des avis</p>
    </div>

    <div class="col-sm-6">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>

          <p class="titles">Nombre de Tweets</p>

      </div>
    </div>
  </div>
  