<div class="container">
    <div class="row">
        <app-search-bar></app-search-bar>
    </div>
    <div class="" *ngIf="showStats()">
        <app-stats></app-stats>
    </div>
    <div class="">
        <app-liste-tweets></app-liste-tweets>
    </div>
</div>