  <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="example-container">
                   <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> <i class="fa fa-twitter" style="font-size:150%;color:blue"></i>
          Analyse à partir des tweets récents </mat-card-title>
        <mat-card-subtitle>Lancer une recherche</mat-card-subtitle> 
        </div>

      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit(form)">
  
          <div class="example-container">
              <mat-form-field >
                  <i class="material-icons" matSuffix>
                    search
                      </i>
                <input matInput placeholder="Entrer un mot à analyser" formControlName="motRechercher" required>
                <mat-error *ngIf="form.get('motRechercher').hasError('required')">Champs obligatoire</mat-error>
                <mat-error *ngIf="form.get('motRechercher').hasError('maxlength')">15 caractères maximum</mat-error>
      
              </mat-form-field>
            </div>
      
            <div class="example-container">
                <mat-form-field >
                    <i class="material-icons" matSuffix>
                      language
                        </i>
                  <mat-label>Selectionner une langue</mat-label>
                  <mat-select matInput placeholder="Choisir une langue" formControlName="langue" required>
                    <mat-option value="fr" disabled>Français</mat-option>
                    <mat-option value="en">Anglais</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
      </form>
      </mat-card-content>
      <mat-card-actions>
        
        <div class="example-container">
          <button class="btn btn-primary" type="submit" [disabled]="form.invalid" (click)="submit(form)">Rechercher</button>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>    

