<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span routerLink="" class="pointer">PPD - MIAGE20</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <!-- <div class="mainContainer"> -->
    <div class="container">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Contexte</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Primary card title</h5> -->
          <p class="card-text">Le machine learning, les applications mobiles, les réseaux sociaux et leur combinaison
            dans le Edge Computing sont un phénomène très important et amener à ce développer encore plus.</p>
          <p class="card-text">  Les objectifs de ce projet : <br>
            - Pouvoir analyser des tendances (possitive ou négatives) sur une entreprise ou un produit à partir
            des tweets récents <br>
            - Pourrait être étendu à la comparaison de produits techniques (frameworks, langages, technologie...)</p>
        </div>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  <!-- </div> -->