<div class="container">
  <div class="row">
    <mat-spinner *ngIf="this.searchTweets.loading == true"></mat-spinner>
    
  </div>
</div>
<ul class="list-group">
    <li [ngClass]="{'list-group-item': true,
    'list-group-item-success': item.avis.score > 0,
    'list-group-item-info': item.avis.score === 0,
    'list-group-item-danger': item.avis.score < 0}"
    *ngFor="let item of listTweets; let index=index;" class="list-group-item"> <p>{{item.data}} 

      <span class="iconMood"><i *ngIf="item.avis.score > 0" class="material-icons">mood</i></span>
      <span class="iconMood"><i *ngIf="item.avis.score < 0" class="material-icons">mood_bad</i></span>

    </p>  </li>
  </ul>
